@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.header-nav {
    background-color: #a0cd3e;
	position: fixed;
	z-index:2;
    height: 64px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav {
    margin-right: 5%;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 251, 0);
}


/*   First block   */

/*CSSスライドショー設定
---------------------------------------------------------------------------*/
/*１枚目*/
@keyframes slide1 {
	0% {opacity: 0;}
	10% {opacity: 1;}
	40% {}
	50% {opacity: 1;}
	60% {opacity: 0;}
	100% {opacity: 0;}
}
/*２枚目*/
@keyframes slide2 {
	0% {opacity: 0;}
	25% {opacity: 0;}
	35% {opacity: 1;}
	65% {}
	75% {opacity: 1;}
	85% {opacity: 0;}
	100% {opacity: 0;}
}
/*3枚目*/
@keyframes slide3 {
	0% {opacity: 0;}
	50% {opacity: 0;}
	60% {opacity: 1;}
	80% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}

/*画像ブロック*/
#first-block {
	clear: left;
	text-indent: -9999px;
	/*position: fixed;	スクロールしても固定表示させる指定*/
	position: relative;
	top: 0px;
	width: 100%;
	/*height: 100%;*/
	height: 670px;	/*※スライドショー解説用に追加*/
	margin-bottom: 30px;	/*※スライドショー解説用に追加*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);	/*影の設定。右に、下に、広げる幅、rgbaは色で0,0,0は黒、0.2は透明度20%の事。*/
}
/*３枚画像の共通設定*/
.slide1,.slide2,.slide3 {
	animation-duration: 15s;	/*実行する時間。「s」は秒の事。*/
	animation-iteration-count:infinite;		/*実行する回数。「infinite」は無限に繰り返す意味。*/
	position: absolute;left:0px;top:0px;width: 100%;height: 100%;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-delay: 2s;
}
/*土台画像*/
.slide0 {
	background: url(../images/image1.jpg) no-repeat center center/cover;
	position: relative;width: 100%;height: 100%;
}
/*１枚目*/
.slide1 {
	background: url(../images/image2.jpg) no-repeat center center/cover;
	animation-name: slide1;		/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*２枚目*/
.slide2 {
	background: url(../images/image3.jpg) no-repeat center center/cover;
	animation-name: slide2;		/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*３枚目*/
.slide3 {
	background: url(../images/image4.jpg) no-repeat center center/cover;
	animation-name: slide3;
}
/*スライドショー下の曲線グラデーション画像*/


.title-container {
    text-align: center;
}






h1 {
    font-size: 80px;
    font-family: serif;
	color: rgb(233, 233, 233);
	position: relative;
}

h3 {
    font-size: 50px;
    font-family: serif;
	color: rgb(233, 233, 233);
	position: relative;
}
  /*   First block End   */



/*   Second block   */
#second-block {
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 700px;
}



.info-title {
    font-size: 60px;
    font-family: serif;
    margin-bottom: 20px;
    color: #444;
    text-align: center;
    display: inline-block;
    border: 5px solid #444;
}


.info-container{
    width:25%;
    float:left;
}


.info-text {
    width:80%;
    display:inline-block;
    margin-top:20px;
    font-size:12px;
    color:#b3aeb5;
}

.info-text a{
    font-size:12px;
    color:#3aaaf5;
}

.about-image{
    width: 70%;
    height: 330px;
}

.font-small {
    font-size: 15px;
}
  /*   Second block End   */

/*   Third block Start   */
#third-block {
    background-color: #e3a878;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.events-title {
    font-size: 60px;
    font-family: serif;
    color: #444;
    display: inline-block;
    border: 5px solid #444;
    background-color: #f0f0f0;
}

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.event-name {
    font-size: 20px;
    padding: 10px;
    width: 40%;
}

span {
    font-size: 40px;
    font-family: serif;
}

.event-image {
    width: 40%;
    height: 330px;
}
  /*   Third block End   */

#fourth-block {
    background-image: url("../images/image1.jpg");
    background-size: cover;
    width: 100%;
    height: 550px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Product-title-container {
    text-align: center;
}

.Product-title-container h1 {
    font-size: 80px;
    font-family: serif;
    color: rgb(233, 233, 233);
    border: 5px solid rgb(233, 233, 233);
}

#fifth-block {
    background-color: rgba(76, 240, 252, 0.616);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-title{
    font-size: 60px;
    font-family: serif;
    color: #444;
    display: inline-block;
    border: 5px solid #444;
    background-color: #f0f0f0;
}

.contact-contents{
    padding-top:70px;
}

input,textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
}

.contact-submit{
    background-color:#dee7ec;
    color:#889eab;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    background-color: #a0cd3e;
    font-size: 15px;
    color: #fff;
}
